.banner {
    background-image: url('/img/banner5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    a{
        margin-top: 20px;
    }
 
    &__wrapper{
       
        min-height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 34px;
        text-align: center;
        
        @media screen and (max-width: 600px) {
            font-size: 23px;

        }
    }

    margin-top: 50px;
}
