.btn {

    border: none;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 100px;
    transition: background-color 0.5s ease;
    text-decoration: none!important;
 


    &:hover{
        background-color: darken($primary, 20%);
        color: #333333;
    }

    &__small {
        padding: 12px 20px 12px 20px;
    }

    &__big {
        width: 100%;
        max-width: 300px;
      
    }

    &--orange {
        background-color: $yellow;
        color: #333333;
        &:hover{
            background-color: lighten($yellow, 15%)
        }
    }

    &__blue {
        background-color: $primary;
        color: #fff!important;
      
       
    }


    &__outline{
        border: 2px solid $primary;
        color: $primary!important;
        transition: color 0.5s ease;
        transition: background-color 0.5s ease;

        &:hover{
            color: #fff!important;

        }
    }
}
