.owl-carousel .owl-stage{
    display: flex;
    height: 100%;
    right: 0px;
}

.owl-height{
    height: 100px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background:$yellow!important;
}