<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about__headlines">
                    <h1 class="number">96</h1>
                    <h2>НАС РЕКОМЕНДУЮТ</br>
                        КЛИЕНТОВ</h2>
                </div>
                <p>В своей деятельности мы ориентированы на интересы и потребности клиента. И наша задача – максимально
                    полно удовлетворить эти потребности. Мы стремимся к тому, чтобы помочь вам создать уют и комфорт в
                    ванной комнате или на кухне. И свой успех измеряем тем, насколько наши клиенты остались довольны
                    сотрудничеством.
</p>

            </div>
            <div class="col-lg-6">
                <div class="about__item">
                    <img class="about__icon" src="/img/time.svg"></img>
                    <div class="about__wrapper">
                        <p class="about__title">Оперативная доставка</p>
                        <p class="about__text">Как только вы заказали наш товар, ваш заказ автоматически отправляется на
                            обработку </p>
                    </div>
                </div>


                <div class="about__item">
                    <img class="about__icon" src="/img/books.svg"></img>
                    <div class="about__wrapper">
                        <p class="about__title">Большой ассортимент</p>
                        <p class="about__text">В нашем магазине собран широчайший выбор сантехнической продукции.
                        </p>
                    </div>
                </div>


                <div class="about__item">
                    <img class="about__icon" src="/img/price.svg"></img>
                    <div class="about__wrapper">
                        <p class="about__title">Цены ниже чем у конкурентов</p>
                        <p class="about__text">Благодаря налаженным отношениям с поставщиками, наши цены значительно
                            отличаются от цен конкурентов
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>