<section class="catalog">
    <div class="container">
       
            <h1>Каталог</h1>
      
        <div class="row">
            <div class="col-lg-3 catalog__centered">
                <a href="http://fontanero.kz/ru/home/1097-installyaciya-dlya-podvesnogo-unitaza-knopka-skate-sosmopoliten-grohe-38772001-rapid-sl-germaniya.html"
                    class="catalog__item">
                    <img class="catalog__img" src="/img/inst.jpg">
                    <div class="catalog__title">Инсталляция для подвесного унитаза + кнопка SKATE СOSMOPOLITEN GROHE
                        38772001 RAPID SL (Германия)</div>
                    <div class="catalog__price">74,000.00 ₸</div>
                </a>
            </div>

            <div class="col-lg-3 catalog__centered">
                <a href="http://fontanero.kz/ru/akrilovye-vanny/1032-vanna-akrilovaya-marka-one-diana-170x105-rlrossiya.html"
                    class="catalog__item">
                    <img class="catalog__img" src="/img/vanna.jpg">
                    <div class="catalog__title">Ванна акриловая Marka One DIANA 170x105 R/L(Россия)</div>
                    <div class="catalog__price">154,000.00 ₸</div>
                </a>
            </div>

            <div class="col-lg-3 catalog__centered">
                <a href="http://fontanero.kz/ru/mojki-iz-kamnya/34-kukhonnaya-mojka-mramornaya-granfest-standart-gf-s-780-l-rossiya.html?search_query=780&results=8"
                    class="catalog__item">
                    <img class="catalog__img" src="/img/rakovina.jpg">
                    <div class="catalog__title">Кухонная мойка (мраморная) GranFest STANDART GF-S 780 L (Россия)</div>
                    <div class="catalog__price">41,000.00 ₸</div>
                </a>
            </div>


            <div class="col-lg-3 catalog__centered">
                <a href="http://fontanero.kz/ru/home/1150-unitaz-napolnyj-bezobodkovyj-grohe-393380003933200039330001-euro-ceramic-germaniya.html"
                    class="catalog__item">
                    <img class="catalog__img" src="/img/unitaz.jpg">
                    <div class="catalog__title">Унитаз напольный безободковый GROHE 39338000/39332000/39330001 Euro
                        Ceramic (Германия)</div>
                    <div class="catalog__price">191,500.00 ₸</div>
                </a>
            </div>

        </div>

        <div class="catalog__footer">
            
            <a href="http://fontanero.kz/ru/12-smesiteli" class="btn btn__outline btn__big">Посмотреть другие товары</a>

        </div>

    </div>
</section>