

<section class="catalog">
    <div class="container-fluid">
        <div class="catalog__wrapper">
            <div class="container">
                <h1>ПОСМОТРИТЕ КАТАЛОГ НАШЕЙ ПРОДУКЦИИ</h1>

                <p>
                    Покупая у нас, Вы получаете ряд преимуществ. Например, Вы можете быть уверены, что покупаете по
                    лучшей
                    цене, поскольку<br> наши сотрудники регулярно следят за ценами, стараются, чтобы они всегда были
                    максимально
                    выгодными для клиента
                </p>
            </div>


            <div class="owl-carousel owl-theme">

                <div class="catalog__item item">
                    <img class="catalog__img" src="/img/inst.jpg">
                    <div class="catalog__title">Инсталляция для подвесного унитаза + кнопка SKATE СOSMOPOLITEN GROHE
                        38772001 RAPID SL (Германия)</div>
                    <div class="catalog__item--footer">
                        <div class="catalog__info">-10 000 ₸</div>
                        <div class="catalog__info">74,000.00 ₸</div>
                    </div>
                    <div class="catalog__link"> <a
                            href="http://fontanero.kz/ru/home/1097-installyaciya-dlya-podvesnogo-unitaza-knopka-skate-sosmopoliten-grohe-38772001-rapid-sl-germaniya.html"
                            class="btn btn--outline btn--orange__small">Подробнее</a></div>
                </div>



                <a href="http://fontanero.kz/ru/akrilovye-vanny/1032-vanna-akrilovaya-marka-one-diana-170x105-rlrossiya.html"
                    rel="external" rel="noopener" class="catalog__item item">
                    <img class="catalog__img" src="/img/vanna.jpg">
                    <div class="catalog__title">Ванна акриловая Marka One DIANA 170x105 R/L(Россия)</div>
                    <div class="catalog__item--footer">
                        <div class="catalog__info">-10 000 ₸</div>
                        <div class="catalog__info">154,000.00 ₸</div>
                    </div>
                </a>



                <a href="http://fontanero.kz/ru/mojki-iz-kamnya/34-kukhonnaya-mojka-mramornaya-granfest-standart-gf-s-780-l-rossiya.html?search_query=780&results=8"
                    rel="external" rel="noopener" class="catalog__item item">
                    <img class="catalog__img" src="/img/rakovina.jpg">
                    <div class="catalog__title">Кухонная мойка (мраморная) GranFest STANDART GF-S 780 L (Россия)
                    </div>
                    <div class="catalog__item--footer">
                        <div class="catalog__info">-10 000 ₸</div>
                        <div class="catalog__info">41,000.00 ₸</div>
                    </div>
                </a>




                <a href="http://fontanero.kz/ru/home/1150-unitaz-napolnyj-bezobodkovyj-grohe-393380003933200039330001-euro-ceramic-germaniya.html"
                    rel="external" rel="noopener" class="catalog__item item">
                    <img class="catalog__img" src="/img/unitaz.jpg">
                    <div class="catalog__title">Унитаз напольный безободковый GROHE 39338000/39332000/39330001 Euro
                        Ceramic (Германия)</div>
                    <div class="catalog__item--footer">
                        <div class="catalog__info">-10 000 ₸</div>
                        <div class="catalog__info">191,500.00 ₸</div>
                    </div>
                </a>


                <a href="http://fontanero.kz/ru/home/1277-lemark-lm-3162-c-omega-chekhiya.html?search_query=3162&results=1"
                    rel="external" rel="noopener" class="catalog__item item">
                    <img class="catalog__img" src="/img/dush.jpg">
                    <div class="catalog__title">LEMARK LM 3162 C OMEGA (Чехия)</div>
                    <div class="catalog__item--footer">
                        <div class="catalog__info">-10 000 ₸</div>
                        <div class="catalog__info">78,960.00 ₸</div>
                    </div>
                </a>

                <a href="http://fontanero.kz/ru/dlya-umyvalnikov/902-smesitel-dlya-rakoviny-grohe-eurosmart-cosmopolitan-srednij-izliv-khrom-23327000.html?search_query=23327000&results=1"
                    rel="external" rel="noopener" class="catalog__item item">
                    <img class="catalog__img" src="/img/kran.jpg">
                    <div class="catalog__title">Смеситель для раковины GROHE Eurosmart Cosmopolitan, средний излив, хром
                        23327000</div>
                    <div class="catalog__item--footer">
                        <div class="catalog__info">-10 000 ₸</div>
                        <div class="catalog__info">48,000.00 ₸</div>
                    </div>
                </a>


                <a href="http://fontanero.kz/ru/home/1127-unitaz-podvesnoj-bezobodkovyj-grohe-39351000-bau-ceramic-germaniya.html"
                    rel="external" rel="noopener" class="catalog__item item">
                    <img class="catalog__img" src="/img/unitaz2.jpg">
                    <div class="catalog__title">Унитаз подвесной безободковый GROHE 39351000 Bau Ceramic (Германия)
                    </div>
                    <div class="catalog__item--footer">
                        <div class="catalog__info">-10 000 ₸</div>
                        <div class="catalog__info">67,500.00 ₸</div>
                    </div>
                </a>



                <a href="http://fontanero.kz/ru/akrilovye-vanny/1002-vanna-akrilovaya-marka-one-modern-170x70-rossiya.html"
                    rel="external" rel="noopener" class="catalog__item item">
                    <img class="catalog__img" src="/img/vanna2.jpg">
                    <div class="catalog__title">Ванна акриловая Marka One MODERN 170x70 (Россия)</div>
                    <div class="catalog__item--footer">
                        <div class="catalog__info">-15 000 ₸</div>
                        <div class="catalog__info">62,000.00 ₸</div>
                    </div>
                </a>


                <a href="http://fontanero.kz/ru/rakovina-nakladnaya/813-rakovina-nakladnaya-cersanit-p-um-cre351-oc-s-crea-35-square-polsha.html"
                    rel="external" rel="noopener" class="catalog__item item">
                    <img class="catalog__img" src="/img/rakovina2.jpg">
                    <div class="catalog__title">Раковина накладная CERSANIT P-UM-CRE35/1-oc-S CREA 35 Square (Польша)
                    </div>
                    <div class="catalog__item--footer">
                        <div class="catalog__info">-10 000 ₸</div>
                        <div class="catalog__info">32,062.00 ₸</div>
                    </div>
                </a>


                <a href="http://fontanero.kz/ru/home/957-rakovina-vstraivaemaya-keramin-bari-100-belarus.html"
                    rel="external" rel="noopener" class="catalog__item item">
                    <img class="catalog__img" src="/img/rakovina3.jpg">
                    <div class="catalog__title">Раковина встраиваемая КЕРАМИН "Бари 100" (Беларусь)</div>
                    <div class="catalog__item--footer">
                        <div class="catalog__info">-10 000 ₸</div>
                        <div class="catalog__info">41,000.00 ₸</div>
                    </div>
                </a>



                <a href="http://fontanero.kz/ru/dushevye-kabiny/600-dushevaya-kabina-1000kh1000kh2150-erlit-er-3510tp-c4-knr.html"
                    rel="external" rel="noopener" class="catalog__item item">
                    <img class="catalog__img" src="/img/dush2.jpg">
                    <div class="catalog__title">Душевая кабина 1000х1000х2150 ERLIT ER 3510TP-C4 (КНР)</div>
                    <div class="catalog__item--footer">
                        <div class="catalog__info">-15 000 ₸</div>
                        <div class="catalog__info">163,852.00 ₸</div>
                    </div>
                </a>



                <a href="http://fontanero.kz/ru/vodootvodyashhie-zheloba/1285-vodootvodyasshij-zhelob-pod-ukladku-plitki-matovyjpo-perimetru-nerzhaveyusshaya-stal-mch-ch-650-hn1-harmony-chekhiya.html"
                    rel="external" rel="noopener" class="catalog__item item">
                    <img class="catalog__img" src="/img/111.jpg">
                    <div class="catalog__title">Водоотводящий желоб под укладку плитки . Матовый.По
                        периметру-нержавеющая сталь. MCH CH 650 HN1 HARMONY (Чехия)</div>
                    <div class="catalog__item--footer">
                        <div class="catalog__info">-10 000 ₸</div>
                        <div class="catalog__info">58,000.00 ₸</div>
                    </div>
                </a>


            </div>
        </div>
    </div>
    <div class="container">
        <div class="catalog__footer">

            <a href="http://fontanero.kz" rel="external" rel="noopener"
                class="btn btn--orange btn--orange__small">Посмотреть другие
                товары</a>

        </div>
    </div>
</section>