<section class="header">
    <div class="container">

        <div class="header__wrapper">
            <nav>
                <img src="/img/logo.svg" alt="">
                <div class="header__menu">
                    <div class="header__phone">
                        <a href="tel:+77010278008">+7(701) 027 80 08</a>
                    </div>
                    <div class="header__call">
                        <a href="https://wa.me/77010278008" role = "button" class="btn btn--orange btn--orange__small">Написать в WhatsApp</a>
                    </div>
                </div>
            </nav>
            <div class="header__content">
                <div class="row">
                      <div class="col-lg-12 col-12">
                        <div class="header__headlines">
                            <h1>Сантехника</h1>
                            <h2>в Нур-Султане</h2>
                            <p>Подыскиваете сантехнику для своей квартиры? Вам хотелось бы иметь
                                возможность широкого выбора качественных товаров. Рассчитываете на помощь в подборе товара и доступные цены.
                                У вас нет времени разъезжать по магазинам сантехники и строительным рынкам в
                                поисках компании, которая будет соответствовать всем этим условиям?</p>

                                <a href="https://wa.me/77010278008" role = "button" class="btn btn--orange btn--orange__small"><span class="icon_24"></span>Получить консультацию</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__footer">
                <a role = "button" aria-label="scroll down" class="arrow arrow__down" href="#about"></a>
            </div>
        </div>
    </div>
</section>



<a href="tel:+77010278008" aria-label="call to us" role = "button" class="button call_to_action"></a>