<section class="review">
    <div class="container">
        <h1>отзывы</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="review__item">
                    <img class="review__avatar" src="/img/avatar.svg" alt="">
                    <div class="review__name">Арман</div>
                    <p class="review__text">Опрятно выглядел, уважительно общался. Прибыл во время. По моей просьбе
                        приехал вместе с грузчиками. Респект и уважение. Борт машины был чистым.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="review__item">
                    <img class="review__avatar" src="/img/avatar.svg" alt="">
                    <div class="review__name">Влад</div>
                    <p class="review__text">Обращался в OrdaTrans когда нужно было срочно перевести мебель с офиса.
                        Оператор оперативно скоординировал, перевезли все быстро, спасибо вам большое! Будем обращаться
                        еще!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="review__item">
                    <img class="review__avatar" src="/img/avatar.svg" alt="">
                    <div class="review__name">Мира</div>
                    <p class="review__text">Хотела бы выразить благодарность компании OrdaTrans! Очень качественный
                        сервис, а самое главное вежливый и опытный водитель! Очень приятный человек!</p>
                </div>
            </div>
        </div>
    </div>
</section>