<section class="review">
    <div class="container">
        <h1>отзывы</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="review__item">
                    <img class="review__avatar" src="/img/avatar.svg" alt="">
                    <div class="review__name">Влад</div>
                    <div class="review__rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <p class="review__text">Товары качественные по приемлемым ценам, есть акции. Самое главное оплата
                        при получении. Выбрал товары и со мной быстро связался менеджер. Советую этот магазин.
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="review__item">
                    <img class="review__avatar" src="/img/avatar.svg" alt="">
                    <div class="review__name">Лаура</div>
                    <div class="review__rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>
                    <p class="review__text">Заказала смеситель для унитаза, быстро приняли заказ, вежливо общались,
                        договорились о времени доставки, привезли вовремя. Смеситель сам очень хорошего качества.
                        Спасибо огромное, буду еще заказываться у вас!!!!
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="review__item">
                    <img class="review__avatar" src="/img/avatar.svg" alt="">
                    <div class="review__name">Айнура</div>
                    <div class="review__rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <p class="review__text">Выбирали все больше 3 месяцев дистанционно с менеджером, терпеливая, все
                        помогала и узнавала, сделали хорошую скидку</p>
                </div>
            </div>
        </div>
    </div>
</section>